<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

{% if bridgetown.environment != "development" %}
  <link href="http://localhost:4002/styles/tailwind.css" rel="stylesheet" data-turbolinks-track="reload">
  <link href="http://localhost:4002/styles/dracula.css" rel="stylesheet" data-turbolinks-track="reload">
  <link href="http://localhost:4002/styles/index.css" rel="stylesheet" data-turbolinks-track="reload">
  <script src="http://localhost:4002/javascript/index.js" type="module" data-turbolinks-track="reload"></script>
  <script>window.HMR_WEBSOCKET_URL = "ws://localhost:4002"</script>
{% else %}
    <link href="/_frontend_/styles/tailwind.css" rel="stylesheet" data-turbolinks-track="reload">
  <link href="/_frontend_/styles/dracula.css" rel="stylesheet" data-turbolinks-track="reload">
  <link href="/_frontend_/styles/index.css" rel="stylesheet" data-turbolinks-track="reload">
  <script src="/_frontend_/javascript/index.js" type="module" data-turbolinks-track="reload"></script>
{% endif %}


<meta name="description" content="{{ metadata.description }}" />



<script
  src="https://kit.fontawesome.com/35f34fbec9.js"
  crossorigin="anonymous"
></script>

