<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture page_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if page_title != "" %}{{ page_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />


<link href="/_frontend_/styles/tailwind.css" rel="stylesheet">
<link href="/_frontend_/styles/dracula.css" rel="stylesheet">
<link href="/_frontend_/styles/index.css" rel="stylesheet">

<script
  src="https://kit.fontawesome.com/35f34fbec9.js"
  crossorigin="anonymous"
></script>

<script src="/_frontend_/javascript/index.js" type="module" defer></script>
